/*@import "Tailwind"*/
* {
    

}

body{
    margin: 0%;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header{

}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.logo{

}

.icon-container{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.icon{
    text-decoration: none;
    color: gray;
}

.home, .cart{
   text-decoration: none;
   font-weight: 500;
   font-size: larger; 
   color: black;
}

.banner{
    display: flex;
    align-items: center;
    max-width: 1140px;
    max-height: 461px;
    margin: 120px auto ;
}

.Banner-inside{
    max-width: 570px;
    padding-bottom: 0%;
    padding-top: 120px;
}

.Title{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 0px;

}

.Orange{
    color: rgba(233, 90, 8, 1);
    margin-bottom: 0px;
    margin-top: 0%;

}

.banner-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.banner-image{

}

.main{
    margin-top: 120px;
}

.market-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: auto;
    text-align: center;
}

.card-container{
    max-width: 1140px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 30px;

}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-name{
    margin-top: 20px;
    font-weight: 500;
}

.price{
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 700;
}

.sale-button{
    display: flex;
    margin-top: 0px;
    background-color:rgba(233, 90, 8, 1);
    color: white;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border: none;
}

.sale-button:hover{
    cursor: pointer;
}

.Flower-section{
    display: flex;
    flex-direction: row-reverse;
    margin: 210px auto;
    justify-content: center;
}

.flower-text{
    margin: 0 60px;
    max-width: 540px;
    padding: 20px;
}

.Flower-title{
    font-size: 4rem;
    font-weight: 700;
}

.flower-list{
    padding: 20px;
}

.Flower-text{
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
    font-size: 20px;
}

.img{
   position: relative;
   display: inline-block;
}

.Flower-image{
    width: 100%;
    height: auto;
    display: block;
}

.Badge{
    position: absolute;
    left: 350px;
    top: -120px;
    width: 300px;
    animation: 3s linear 0s infinite badge-rotate;
}

.latest{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.latest-inside{
    text-align: center;
}

.latest-text{
    text-align: center;
    max-width: 788px;
    padding: 0 0 50px 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.latest-img-container{
    display: grid;
    grid-template-columns: 380px 380px auto;
    position: relative;
    gap: 20px;
    align-items: center;
    margin-right: 350px;
}

.left-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}


.img-text-bloom{
    position: absolute;
    color: white;
    top: 60px;
    left: 70px;
}

.img-text-bloom-underline{
    position: absolute;
    color: white;
    top: 100px;
    left: 150px;
    text-decoration: underline;
}

.img-text-ana{
    position: absolute;
    color: white;
    top: 255px;
    left: 75px;
}

.img-text-ana-underline{
    position: absolute;
    color: white;
    top: 300px;
    left: 140px;
    text-decoration: underline;
}

.img-text-zabo{
    position: absolute;
    color: white;
    top: 120px;
    left: 570px;
    width: 100%;
    font-size: 3rem;
}

.img-text-zabo-underline{
    position: absolute;
    color: white;
    top: 200px;
    left: 700px;
    text-decoration: underline;
    width: 100%;
    font-size: 2rem;
}

.latest-img{
    border-radius: 5%;
    filter: brightness(80%);
    
}

.search{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px 0 30px 0;
}

.search-title{
    color: white;
    font-weight: 700;
    font-size: 4rem;
    margin: 200px 0 50px 0;
}

.input{
    margin: 0 0 200px 0;
    display: flex;
    align-items: center;
}

.input input{
    width: 644px;
    height: 50px;
}

.input input::placeholder{
     padding-left: 20px;
}

.input button{
    height: 54px;
    margin: 0;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    width: 186px;
    font-size: 1.1rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
}

.left-side{

}

.footer-text{
    font-size: 1.2rem;
    width: 359px;
    color: rgba(0, 0, 0, 0.5);
}

.middle-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 20px;
}

.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.right-side{
    
}

.footer-img{
   padding: 10px;
}

@media screen and (max-width: 768px) {
    html, body {
      max-width: 100%;
      overflow-x: hidden;
    }
    
    .nav-bar{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .logo{
        width: 50%;
        margin-left: 10px;
    }

    .icon, .home{
        display: none;
    
    }

    .icon-container{
        padding: 0%;
    }

    .cart-icon{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 10px;
    }

    .cart{
        
    }

    .Title, .Orange{
        font-size: 2.5rem;
    }

    .Banner-inside{
        margin: 0 10px;
        padding: 0%;
    }